@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap'); */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.slick-dots li.slick-active .progress-dot {
  animation: fillDot 3s linear forwards; /* same as autoplaySpeed */
}

@keyframes fillDot {
  from { width: 0%; }
  to { width: 100%; }
}

.libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
    /* background-color: #f1f4f7; */
}

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}




.container{
    width: 95%;
    
}


.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

